.color-1 {
    color: black;
}

.color-2 {
    background-color: #00cc75;
}

.color-3 {
    background-color: #fec66f;
}

.color-4 {
    background-color: #63c3ff;
}

.color-5 {
    background-color: #29333f;

}

.color-6 {
    background-color: #f2e7a0;
}

.color-7 {
    color:#fec66f;
}